.fondo{
-fx-background-color:#1c1c1c;
}
.menu{
-fx-background-color:rgb(50,50,50);
}
.menu .label{
-fx-text-fill:#FFFFFF;
}
.progress-bar > .track{
-fx-text-box-border: #15a319;
-fx-control-inner-background: #176630;
-fx-accent: red;
}
